<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Titulo}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    {% include "navbar.html" %}

        <div class="container">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-8">
                    <h3>Listado de Empleados</h3>
                    <div class="table-responsive">
                    <br>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                               <!-- <tr>
                                    <th scope="col">Empleados</th>

                                </tr> -->
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">id</th>
                                    <th scope="col">nombre</th>
                                    <th scope="col">apellido</td>
                                    <th scope="col">Empl&eacute;ado</td>
                                    <th scope="col">E-mail</td>
                                    <th scope="col">Empresa</td>


                                </tr>
                           </thead>    
                            <tbody>
                                {% for i in object_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.id_empleado}}</td>
                                    <td>{{i.nom_emp}}</td>
                                    <td>{{i.ape_emp}}</td>
                                    <td>{{i.nom_usu}}</td>
                                    <td>{{i.email}}</td>
                                    <td>{{i.empresa}}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>    
        
    
    <!--scrip bootstrap-->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>

</body>

</html>